$base_color_1: #ffffff;
$base_color_2: #A2CA28;
$base_color_3: #FD634E;
$base_color_4: #737B80;
$base_color_5: #8297A7;

$header_color: $base_color_1;
$header_logo_link_color: $base_color_1;
$header_logo_after_color: $base_color_2;
$header_menu_mobile_icon_bg_color: $base_color_1;
$header_menu_mobile_icon_hover_bg_color: $base_color_2;
$header_menu_mobile_bg_color: rgba(0, 0, 0, 0.8);
$header_menu_item_link_color: $base_color_1;
$header_title_h1_end_color: $base_color_2;
$header_title_text_end_color: $base_color_3;

$benefit_bg_color: $base_color_2;
$benefit_color: $base_color_1;
$benefit_link_color: $base_color_1;

$article_bg_color: $base_color_2;
$article_row_bg_color: $base_color_1;
$article_subtitle_color: $base_color_3;
$article_title_color: $base_color_2;
$article_text_color: $base_color_4;
$article_link_color: $base_color_2;
$article_img_desc_color: $base_color_1;
$article_img_desc_action_color: $base_color_3;
$article_img_desc_action_end_color: $base_color_1;

$grid_bg_color: $base_color_3;
$grid_text_wrap_bg_color: $base_color_1;
$grid_subtitle_color: $base_color_3;
$grid_title_color: $base_color_2;
$grid_text_color: $base_color_4;
$grid_banner_type_2_color: $base_color_1;
$grid_banner_type_2_text_wrap_bg_color: $base_color_2;
$grid_banner_type_2_subtitle_color: $base_color_1;
$grid_banner_type_2_title_color: $base_color_1;
$grid_banner_type_2_text_color: $base_color_1;
$grid_banner_type_2_img_desc_color: $base_color_1;
$grid_text_wrap_shadow_color: rgba(0, 0, 0, 0.5);

$banner_color: $base_color_1;

$footer_bg_color: #0D1119;
$footer_color: $base_color_1;
$footer_text_color: $base_color_5;
$footer_contact_input_color: $base_color_5;
$footer_contact_submit_bg_color: $base_color_2;
$footer_contact_submit_hover_bg_color: transparent;
$footer_contact_submit_border_color: $base_color_2;
$footer_contact_submit_color: $base_color_1;
